.matrix {
    margin: 10px auto;
    display: inline-block;
}

.parent {

}

.cell {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    display: inline-block;
    float: left;
    padding: 10px;
    margin: 1px;
}

table{
    margin: 10px auto;
}

td {
    border: 1px solid black;
}

.btn-primary {
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
}